<h1>Say#goodbye</h1>
<p>Find me in app/views/say/goodbye.html.erb</p>
<h1>This is the goodbye page</h1>
<p> 
    This is the time you left the site 
    <%= @time_zone %>
</p>
<p> The result of the concatenation is <%= @concatenation %> </p>
<p>The time in one hour is: <%= @time_in_one_hour %> </p>
<p> Press here to go back to  <%= link_to "Hello", say_hello_path %> </p>